body{
    background-color: #f0f8ff;   
}
h1 {
  background-color:#6495ed ;
    color: blue;
    text-align: center;
}
.imgw300 {
   width: 300px;
  
}
.imgw400 {
   width: 450px;
}

.bgbody{
    background-image: url(nyc.jpg) ;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
  
