body{
    background-color: #f0f8ff;   
}
h1 {
  background-color:#6495ed ;
    color: blue;
    text-align: center;
}
.imgw300 {
   width: 300px;
  
}
.imgw400 {
   width: 400px;
}

.bgbody{
    background-image: URL(https://hips.hearstapps.com/hmg-prod/images/new-york-in-7-giorni-1559809453.jpg) ;
}
  
