body{
    background-color: #f0f8ff;   
}
h1 {
  background-color:#6495ed ;
    color: blue;
    text-align: center;
}
.imgw300 {
   width: 300px;
  
}
.imgw400 {
   width: 450px;
}

.bgbody{
    background-image: URL(https://i2.res.24o.it/images2010/Editrice/ILSOLE24ORE/ILSOLE24ORE/Online/Immagini/ArticleGallery/Viaggi/2022/09/Ritagli/02_EmpireStateBuilding_nyc-g1635ba577_1920-koiF--1020x533@IlSole24Ore-Web.jpg?r=1080x566) ;
}
  
